<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span7">
    <section>
      <h1>
        <%= gravatar_for @user %>
        </h1>
        <h1>
        <%= @user.name %>
      </h1>
      <h1>
      	<%= @user.address %>
      </h1>
      <h1>
      	<%= @user.contact_no %>
      </h1>
      <h1>
      	<%= @user.gender %>
      </h1>
      <h1>
      	<%= @user.birthday %>
      </h1>
      <h1>
      <%= @user.belt_name %>
  </h1>
      <h1>
      	<%= @user.dojo %>
      </h1>
      <h1>
      	<%= @user.location %>
      </h1>
      <h1>
      	<%= @user.instructor_name %>
      </h1>
    </section>
  </aside>
</div>