<div class="row">
  <div class="span12">
        <ul class="breadcrumb">
              <li>
                <%= link_to "Back", admins_path %><span class="divider">/</span>
              </li>
              
              <%= link_to "New Promotion", new_promotionadmin_path, :class => "pull-right label label-info" %>
        </ul>
    <table class="table table-condensed">
      <thead>
        <tr class="well">
          <th class="span2">ID</th>
          <th class="span2">What</th>
          <th class="span2">Where</th>
          <th class="span2">When</th>
          <th class="span2">Time</th>
          <th class="span2">Requirement</th>

        </tr>
      </thead>
      <tbody>
        <% @promotionadmins.each do |promo| %>
        <tr>
      <td><%= link_to promo.id, promotionadmin_path(promo) %></td>
      <td><%= promo.what %></td>
      <td><%= promo.where %></td>
      <td><%= promo.when %></td>
      <td><%= promo.time %></td>
      <td><%= promo.requirement %></td>
     
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>