<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Kyokushin-Do", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Profile",'#'  %></li>
              <li><%= link_to "Gallary", '#'%></li>
              <li><%= link_to "Event", '#'%></li>
              <li><%= link_to "Dojo", '#'%></li>
              <li><%= link_to "Forum",'#' %></li>
              <li><%= link_to "Contact Us",'#' %></li>

            </ul>
          </nav>
        </div>
      </div>
    </header>